body {
    background-color: #eee;
}

body,
h1,
p {
    font-family: "Helvetica Neue", "Segoe UI", Segoe, Helvetica, Arial, "Lucida Grande", sans-serif;
    margin: 0;
    padding: 0;
    font-weight: normal;
    text-align: center;
}

body {
    margin-left: auto;
    margin-right: auto;
    margin-top: 177px;
    max-width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
}

h1 {
    font-size: 48px;
    font-weight: 300;
    margin: 0 0 20px 0;
}

p {
    font-size: 21px;
    font-weight: 200;
    margin-bottom: 20px;
}